.title {
  color: hsl(213, 96%, 18%);
}

.smallGrey {
  font-size: 14px;
  color: hsl(231, 11%, 63%);
}

.timeline {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.slider {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  width: 30px;
  height: 15px;
  background-color: black;
  border-radius: 7px;
  cursor: pointer;
}

.ball {
  top: 2px;
  left: 3px;
  width: 11px;
  height: 11px;
  border-radius: 6px;
  position: absolute;
  background-color: hsl(231, 11%, 63%);
}

.info {
  margin-left: 50px;
  position: relative;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

label {
  font-size: x-small;
  font-weight: 600;
}

.input {
  margin-top: 5px;
  margin-bottom: 15px;
  height: 25px;
  max-width: 300px;
  width: 100%;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  cursor: pointer;
}

.buttonNext {
  position: absolute;
  height: 30px;
  width: 90px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: hsl(213, 96%, 18%);
  color: hsl(231, 100%, 99%);
  bottom: 10px;
  right: 0px;
}

.buttonBack {
  position: absolute;
  height: 30px;
  width: 90px;
  color: hsl(213, 96%, 18%);
  bottom: 10px;
  left: 0px;
  border: none;
  background-color: inherit;
  text-decoration: underline;
}

.planBox {
  display: flex;
}

.plan {
  display: flex;
  flex-direction: column;
  width: 100px;
  padding: 10px;
  border: 1px solid hsl(228, 100%, 84%);
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.plan img {
  width: 30px;
  margin-bottom: 10px;
}

.add-on {
  display: flex;
  align-items: center;
}

.adOnInfo {
  margin: 10px;
}
